
<div class="container">
  <div class="row formPage">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3 class="text-center">What Would You Like to Do?</h3>
      <form role="form">
        <div>
          <input type="text" name="category" placeholder="Category" ng-model="category" class="form-control text-center">
        </div>
        <div>
          <input type="text" name="location" placeholder="Location" ng-model="location" class="form-control text-center">
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-4">
            <button ng-Click="findMe()" class="btn">Use Current Location</button>
            <div ng-show='calculating'> Calculating Current Location.. </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-4">
            <button ng-hide='calculating' ng-Click="getLocationAndCategory(location, category)" class="btn">Grab Adventure</button>
          </div>
          <div class="col-md-4"></div>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>