
<div class="container viewsContainer">
  <div class="row headingRow">
    <div class="col-md-12 text-center">
      <h1>Take me There!</h1>
    </div>
  </div>

  <div class="row text-center dataRow">
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <span ng-hide='calculated'>Calculating Your Location...</span>
        <button ng-click='getPrice()' ng-show='calculated'>Get Price Estimates</button>
      </div>
      <div class="col-md-2" ng-show='gotRide'>Your {{trip.name}} is on its way! </div>
      <div class="col-md-3" ng-show='gotPrices'>Click specific ride to order Uber<button ng-repeat='option in priceArray' ng-click='getRide(option.product_id, option.display_name)'>{{option.display_name}} {{option.estimate}}</button></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>

      <ui-gmap-google-map refresh='calculated' center='map.center' zoom='map.zoom'>{{map.center}}</ui-gmap-google-map>
  </div>






</div>